export(read_1pz)
export(write_1pz)
export(info_1pz)
export(validate_1pz)
export(colsums_1pz)
export(read_1pz_seurat)
export(write_1pz_seurat)
export(read_1pz_sce)
export(write_1pz_sce)
export(read_1pz_coo)
export(read_1pz_dense)
export(read_1pz_dataframe)
export(lognorm)
export(OnePZ)
export(cbind_1pz)
export(rbind_1pz)
export(subset_1pz)
export(sample_1pz)
export(n_obs)
export(n_vars)
export(nnz_per_col)
export(nnz_per_row)
export(rowsums_1pz)
export(describe_1pz)

exportClasses(OnePZ)
exportMethods(show, dim, nrow, ncol, length, "[", t, head, tail)

importFrom(Rcpp, sourceCpp)
importFrom(Matrix, sparseMatrix)
importFrom(methods, setClass, setMethod, setAs, new, is, as)

useDynLib(singlepress, .registration = TRUE)
